*.iml
.gradle
.signing
/local.properties
/.idea/workspace.xml
/.idea/codeStyleSettings.xml
/.idea/tasks.xml
/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/libraries
.DS_Store
/build
/captures
._*
.Spotlight-V100
/.Trashes
/ehthumbs.db
/Thumbs.db
.externalNativeBuild
*.apk
# files for the dex VM
*.dex

# Java class files
*.class